/* Category buttons styles */

@use './variables' as *;

.mcp-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 600px) {
        margin-top: -20px;
    }
}

.mcp-categories__item {
    width: max-content;
    margin: 0 12px 24px;
    padding: 16px 32px;
    border-radius: 20px;
    background-color: $magnolia;
    font-size: 16px;
    color: $grey-5;
    text-align: center;
    transition: box-shadow 200ms ease;

    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: 0 0 0 5px $portage;
        outline: none;
    }

    @media (max-width: 600px) {
        width: 35%;
        padding: 16px;
        margin: 12px;
    }

    @media (max-width: 385px) {
        padding: 12px 16px;
        margin: 8px;
    }

    @media (max-width: 359px) {
        width: 50%;
    }

    &--active {
        background-color: $portage;
        color: $grey-5;
        pointer-events: none;

        &:focus {
            box-shadow: none;
        }
    }

    &--pending {
        pointer-events: none;

        &:hover,
        &:focus {
            box-shadow: none;
        }
    }
}
