/* Decorations styles */

@use './variables'as *;

.mcp-circle-decor {
    position: absolute;

    @media (max-width: 600px) {
        display: none;
    }

    &--latest {
        height: 250px;
        bottom: -10px;
        left: -100px;
    }

    &--cat-tiles {
        right: -280px;
        top: 20px;
    }
}