@use './variables' as *;

.mcp-nav {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
}

.mcp-nav__items {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    align-items: center;

    @media (max-width: 450px) {
        justify-content: space-evenly;
    }
}

.mcp-nav__item {
    margin: 0 16px;

    &:last-child {
        @media (min-width: 451px) {
            margin-left: auto;
        }
    }
}

.mcp-nav__link {
    color: $perfume;
    font-size: 18px;

    &:hover,
    &:focus {
        color: $magnolia;
    }

    @media (max-width: 550px) {
        font-size: 16px;
    }

    &--inactive {
        pointer-events: none;
        color: #8484ad;
    }
}
