$black: #000000;
$grey-5: #0d0d0d;
$grey-10: #1a1a1a;
$grey-15: #262626;

$woodsmoke: #141516;

$white: #ffffff;
$magnolia: #fbfaff;

$portage: #8785ef;
$perfume: #bbbbf6;

$dolphin: #65657d;

$malachite: #05d13f;